* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}



.container-input{
        display: flex;
    flex-direction: column;
    height: 400px;
}

.container-form{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 239, 76);
    width: 40vw;
    
}

input{
    display: flex;
    justify-content: center;
    height: 28px;
    width: 333px;
    background-color: rgb(238, 232, 232);
    color: black;
    margin-top: 30px;
    margin-left: 33px;
}
.quadrado-form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.btn-register{
    background-color: rgb(228, 216, 234);
    border-radius: 2vh;
    margin-left: 120px;
    margin-top: 15px;
    height: 22px;
    width: 133px;
}
.btn-register:hover {
    background-color: #a1e6ff;
    transform: scale(1.1);
}

h1{
 margin-top: 22px;
 margin-left: 12px;
}

h3{
    margin-left: 130px;
    margin-bottom: 15px;
    margin-top: 15px;
}